<body class="body2BG">
    <div class="roomList">
        <h1>Room Listings</h1>
        <br>
        {{#each sear}}
        <p>{{this}}</p>
        {{/each}}
        {{#each adm}}
        <a href="" data-toggle="modal" class="addR" data-target="#addRoom">Add Room</a>
        {{/each}}

        <div class="modal" id="addRoom" role="dialog">
            <form method="POST" action="/task/uploadRoom" class="homeForm" enctype="multipart/form-data">
                <h3 class="formTitle">Sign up today</h3>
                <label>Room Name</label><br>
                <input class="inputBox" type="text" name="roomName" placeholder="Room">
                <label>Location</label><br>
                <select name="location" class="inputBox">
                    <option value="USA">USA</option>
                    <option value="Canada">Canada</option>
                    <option value="Other">Other</option>
                </select>
                <label>Description</label><br>
                <input class="inputBox" type="text" name="description" placeholder="Desc">
                <label>Price</label><br>
                <input class="inputBox" type="text" name="roomPrice" placeholder="$0">
                <input name="foo" type="file">
                <input type="submit" value="Submit Room">
                

            </form>
        </div>



        <div class="roomGrid">
            {{#each rooms}}
            <div>
                <div class="box">
                    <img width="100%" height="225px" src={{this.path}}>
                </div>
                <br>
                <div class="innerBox">
                    <div>{{this.name}}</div>
                    <div>{{this.location}}</div>
                    <div class="desc">{{this.description}}</div>
                    <div></div>
                    <div>{{this.price}}</div>
                    <div>
                        <img class="star" src="images/star.webp" width="15" height="15">
                        <img class="star" src="images/star.webp" width="15" height="15">
                        <img class="star" src="images/star.webp" width="15" height="15">
                        <img class="star" src="images/star.webp" width="15" height="15">
                        <img class="star" src="images/star.webp" width="15" height="15">
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>
